* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}
body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  z-index: -5;
}
body #userTitle {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

#toDoListWrap {
  position: relative;
  flex-wrap: wrap;
  width: 80vw;
  height: auto;
  margin: 0 auto;
  padding: 0 200px;
  padding-top: 5vh;
}
#toDoListWrap > input {
  display: none;
}
#toDoListWrap > input:checked + label {
  font-weight: 700;
  border-bottom: none;
}
#toDoListWrap label {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 53px;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 3rem;
  font-size: 1.5rem;
  border: 3px solid #000;
  border-radius: 10px 10px 0 0;
  z-index: 10;
}
#toDoListWrap #onGoing, #toDoListWrap #completed {
  position: absolute;
  top: calc(5vh + 50px);
  width: 800px;
  height: 70vh;
  padding: 20px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 0 10px 10px 10px;
}
#toDoListWrap #onGoing #toDoList, #toDoListWrap #completed #toDoList {
  font-size: 1.6rem;
  height: 90%;
  overflow-y: scroll;
  padding-top: 50px;
}
#toDoListWrap #onGoing #toDoList h2, #toDoListWrap #completed #toDoList h2 {
  position: absolute;
  display: block;
  width: 700px;
  height: 70px;
  top: 5px;
  background-color: #fff;
}
#toDoListWrap #onGoing #toDoList li, #toDoListWrap #completed #toDoList li {
  vertical-align: middle;
  height: 40px;
}
#toDoListWrap #onGoing #toDoList li span, #toDoListWrap #completed #toDoList li span {
  margin: 0 10px;
}
#toDoListWrap #onGoing #toDoList li input, #toDoListWrap #completed #toDoList li input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
#toDoListWrap #onGoing #toDoList li button, #toDoListWrap #completed #toDoList li button {
  all: unset;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
}
#toDoListWrap #onGoing #toDoList li button:nth-child(3), #toDoListWrap #completed #toDoList li button:nth-child(3) {
  background-color: rgb(77, 255, 77);
}
#toDoListWrap #onGoing #toDoList li button:last-child, #toDoListWrap #completed #toDoList li button:last-child {
  background-color: rgb(254, 76, 76);
}
#toDoListWrap #onGoing #toDoList li button:hover, #toDoListWrap #completed #toDoList li button:hover {
  cursor: pointer;
}
#toDoListWrap #onGoing #toDo-form > input, #toDoListWrap #completed #toDo-form > input {
  position: absolute;
  bottom: 10px;
}
#toDoListWrap #onGoing #toDo-form #inputList, #toDoListWrap #completed #toDo-form #inputList {
  width: 90%;
  height: 40px;
  font-size: 1rem;
  padding: 0 10px;
  border: 3px solid #000;
  border-radius: 5px;
}
#toDoListWrap #onGoing #toDo-form #submitList, #toDoListWrap #completed #toDo-form #submitList {
  right: 10px;
  width: 5%;
  height: 40px;
}
#toDoListWrap #onGoing #toDo-form #submitList:hover, #toDoListWrap #completed #toDo-form #submitList:hover {
  cursor: pointer;
}
#toDoListWrap #completed #completedList {
  font-size: 1.6rem;
  height: 99%;
  overflow-y: scroll;
  padding-top: 50px;
}
#toDoListWrap #completed #completedList h2 {
  position: absolute;
  display: block;
  width: 700px;
  height: 70px;
  top: 5px;
  background-color: #fff;
}
#toDoListWrap #completed #completedList li {
  vertical-align: middle;
  height: 40px;
}
#toDoListWrap #completed #completedList li span {
  margin: 0 10px;
}
#toDoListWrap #completed #completedList li input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
#toDoListWrap #completed #completedList li button {
  all: unset;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
}
#toDoListWrap #completed #completedList li button:nth-child(3) {
  background-color: rgb(77, 255, 77);
}
#toDoListWrap #completed #completedList li button:last-child {
  background-color: rgb(254, 76, 76);
}
#toDoListWrap #completed #completedList li button:hover {
  cursor: pointer;
}

#watchWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10% 0;
  top: calc(5vh + 165px);
  right: 20vw;
  width: 300px;
  height: 30%;
  padding: 30px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  text-align: center;
}
#watchWrap h2 {
  font-size: 2rem;
}
#watchWrap p {
  font-size: 1.8rem;
  line-height: 200%;
}

#weatherWrap {
  position: absolute;
  top: calc(5vh + 500px);
  right: 20vw;
  width: 300px;
  height: 35%;
  padding: 40px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  text-align: center;
}
#weatherWrap span {
  font-size: 1.8rem;
  line-height: 200%;
}

/*# sourceMappingURL=toDoList.css.map */
