@import "./reset.scss";

.active {
  display: block;
}

.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(../img/backgroundImg_01.jpg) no-repeat;
  background-size: cover;
}

#toDoListWrap {
  position: relative;
  flex-wrap: wrap;
  width: 80vw;
  height: 500px;
  margin: 0 auto;
  padding: 0 300px;
  padding-top: 10vh;

  & > input {
    display: none;

    &:checked + label {
      font-weight: 700;
      border-bottom: none;
    }
  }

  label {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 53px;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 3rem;
    font-size: 1.5rem;
    border: 3px solid #000;
    border-radius: 10px 10px 0 0;
    z-index: 10;
  }

  #onGoing {
    position: absolute;
    top: 116px;
    width: 1000px;
    height: 500px;
    padding: 10px;
    background-color: #fff;
    border: 3px solid #000;
    overflow-y: scroll;

    #toDoList {
      font-size: 1.6rem;

      li {
        vertical-align: middle;

        & span {
          margin: 0 10px;
        }

        & input {
          width: 20px;
          height: 20px;
        }

        & button {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }

    #toDo-form {
      & > input {
        position: absolute;
        bottom: 10px;
      }
      #inputList {
        width: 90%;
        height: 40px;
        font-size: 1.4rem;
        border: 3px solid #000;
        border-radius: 5px;
      }

      #submitList {
        right: 10px;
        width: 5%;
        height: 40px;
      }
    }
  }

  #completed {
    @extend #onGoing;
  }
}
